---
# main tasks for install_openvpn role
- name: install package
  package:
    name: "{{ package }}"
    state: latest

- name: enable ipv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: yes
    state: present
    reload: yes

- name: configure firewall exception
  firewalld:
    zone: trusted
    interface: "{{ interface }}"
    permanent: yes
    state: enabled

- name: configure auth user file
  lineinfile:
    path: "{{ auth_file }}"
    create: yes
    line: "{{ item }}"
    owner: root
    group: root
    mode: 0600
  loop:
    - "{{ auth_user }}"
    - "{{ auth_pass}}"

- name: copy configuration template
  template:
    src: client.conf.j2
    dest: "{{ config_file }}"
    owner: root
    group: root
    mode: 0755
    force: yes
  notify: restart openvpn
